@import url('@pmndrs/branding/styles.css');

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  box-sizing: border-box;
}


html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

body {
  font-family: 'Inter var', sans-serif;
  color: white;
  background: #15002c;
  /* user-select: none; */
}





#root{
  touch-action: none !important;
}

.noPointer{
  pointer-events: none;
}

.noPointerPlus > * {
  pointer-events: none;
}

/* HTML Text component messages ------------------------------------------- */

.introText{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #f2ff9a;
  pointer-events: none;
}

.outroText{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 15px;
  color: #ffffff;
}

#outroLink{
  text-decoration: none;
  color: #f2ff9a;
}

/* to nullify link styles applied to links parsed from JSON values */
.linkNormal{
  text-decoration: none;
  color: #f2ff9a;
}
/* // START of HTML STYLES -----------------------------------------------------------*/

#lightbox{
  display: none;
  position: fixed;

  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 30px;


  border-radius: 50px;
  box-shadow: 0px 0px 20px #4c12d3;
  
  z-index: 100000000;
}


#noteButton {
  display: inline-block;
  background-color: var(--color-background);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 50px;
  padding: 0px 30px;
  padding-left: 60px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.invisible{
  display: none;
  opacity: 0;

  transition: opacity 2s;
}

.header {
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  /* display: none; */
  /* Border Effect */
  border-bottom: 5px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;


  transition: all 1s; /* Added transition properties for background-color, margin-top, and border */
}

.header:hover {
  /* background-color: rgba(19, 13, 139, 0.354);  */
  /* White opaque background with 20% opacity */
  border-color: rgba(34, 28, 203, 0.8);
}

.logo img {
  width: 200px;
  height: auto;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

/* .nav a:hover {
  color: #4734db;
} */

.link{
  background-color: transparent;
  border: 2px solid transparent; /* Set a transparent border */
  border-radius: 10%;
  padding: 10px;

  transition: all 1s;
}

.link:hover{
  border-color: #ffffff;
  /* background-color: #d7d7d767; */
}

/* // END of HTML STYLES -----------------------------------------------------------*/

/* Prevent slide grabbing from limited surface area */
img {

  touch-action: none;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.bg {
  background: #101010;
}

.fullscreen.notready {
  color: #606060;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #808080;
  padding: 40px;
  pointer-events: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 10px;
  line-height: 1.5em;
}

.menu.left {
  justify-content: flex-start;
}

.menu.right {
  justify-content: flex-end;
}

.menu > div {
  word-wrap: none;
  word-break: none;
  white-space: pre;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.menu > div b {
  font-weight: 600;
  color: #b0b0b0;
}

.fullscreen.ready > div {
  cursor: pointer;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

.menu a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
  color: inherit;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 2s ease 0.5s forwards;

  /* Make canvas take full screen, mobile */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}


.htmlScreen iframe
{
    width: 100px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: #000000;
}

.footerLogo{
  width: 120px;
  height: auto;
  padding-bottom: 10px;
  opacity: 0.4;

}

.socialLogo{
  height: 30px;
  width: auto;
  opacity: 1;
  padding-right: 20px;
  padding-bottom: -10px;

  /* Glow hover */
  -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
  filter: drop-shadow(0px 0px 10px #ffffff);

  transition: all 1s;
}

.socialLogo:hover {
-webkit-filter: drop-shadow(0px 0px 100px #DDFF06);
filter: drop-shadow(0px 0px 100px #DDFF06);

transform: translateY(-3px);
transform: scale(1.05);
}

.planeText{
position: relative;
}

.head{
position: relative;
top: -200px;
}

.body{
position: relative;
top: -140px;


}

.tail{

}


.label-text{
  color: #000000;
  position: relative;
  top: -40px;
  left: 100px;
}

.badgeLogo{
  padding-left: 20px;
  width: auto;
  height: 40px;
}

.projectLogo{
  width: 1000px;
  height: 250px;
}

.projectButton{

}

.body-section{
  display: inline-block;
}

.body-text1{
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  padding: 30px;
  width: 425px;
  height: 300px;
  position: absolute;
  left: 50px;
  bottom: -370px;
  background-color: #2500ac6d;
  font-size: 20px;
  line-height: 30px;

  transition: all 0.75s ease-in-out;
}

.body-text2{
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  padding: 30px;
  width: 425px;
  height: 300px;
  position: absolute;
  left: 650px;
  bottom: -370px;
  background-color: #2500ac6d;
  font-size: 20px;
  line-height: 30px;

  transition: all 0.75s ease-in-out;
}

.body-text2:hover, .body-text1:hover{
  border-radius: 10px;
  box-shadow: 0px 0px 30px #ffffff;

  transform: translateY(-3px);
  transform: scale(1.05);
}

.github-section{
  position: absolute;
  display: flex;
  bottom: -250px;
  left: 530px;
  pointer-events: all;
}

.githubText{
  position: absolute;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px;
  left: -20px;
  top: 90px;
  pointer-events: all;

}

.githubLogo{
}

.projectGithubLogo{
  height: 80px;
}

.body-title{
  position: absolute;
  width: 550px;
  top: 75px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 60px;
  line-height: 70px;
}



.body ul {
  list-style: none; /* Remove default bullet points */
  padding-left: 20px; /* Add some left padding for the bullet points */
}

.body ul li::before {
  content: "\2022"; /* Unicode character for bullet point */
  color: #ff0000; /* Set the color to your desired color value */
  font-size: 1em; /* Adjust the font size if needed */
  margin-right: 10px; /* Add some spacing between bullet and content */
}





/* Mobile Responsiveness     --------------------------------------------*/

/* Horizontal Mobile */
@media (max-width: 1000px){

  /* Display lightbox on mobile */
  #lightbox{
    display: block;
    height: 250px;
    width: 300px;
    margin-left: 30%;
    margin-top: 10%;
    background-color: #5030c629;
    z-index: 1000000000;

  }

  .header{
    font-size: 12px;
    height: 60px;
    padding-top: 30px;
    background-color: #06001b;
    z-index: 1000000000;
  }

  .link{
    padding: 5px;
  }

  #test{
  }

  
}

/* Vertical Mobile */
@media (max-width: 500px) {

  #lightbox{
    height: 250px;
    width: 300px;
    margin-left: 10%;
    margin-top: 40%;
    background-color: #5030c629;

  }


  .pmndrs-menu {
    /* Styles for mobile devices here */
    /* position: fixed;
    bottom: 0;
    margin-top: 200px;
    display: block; */
  }

  .pmndrs-menu {
    display: block;
    /* position: absolute; */
    top: 600px;
    flex-wrap: wrap;
    margin: 0px;
  }

  .pmndrs-menu > div {
    /* This will make two columns on each row */
    width: 50%; 
    margin: 0px;
  }


  .header {
    display: block;
    justify-content: space-between;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 20px;
    background-color: #070020;
    top: 0;
    width: 100%;
    height: 75px;  

    margin-left: 50px;

    z-index: 1000000000;

  
  }
  
  .logo img {
    width: 100px;
    height: auto;
    margin-left: 80px;
    padding-bottom: 5px;
  }

  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin: 0 0px;
  }
}



/* Preloader Loading Screen Styles ------------------------------------------ */

.preloader{
  background-color: #c90e0e;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed; /* keeps loader page fixed on screen */
}

.preloader-wrapper{
  display: flex;
  justify-content: center; /* keeps centered without using margins */
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px; /* otherwise circles are too close */
  background-color: #4806ff;
  animation: load .1s ease-in-out infinite;
}

/* Pseudo selector: selects the n-th child of the class ".circle" (3 children) */
/* Apply offset to each child of ".circle" to create wave effect */
.circle:nth-child(2){
  animation-delay: 0.1s;
}
.circle:nth-child(3){
  animation-delay: 0.2s;
}

/* ------------------------------------------------ */
/* Preloader -------------------------------------- */

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	padding: 1.5em 0;
}
.ip {
	width: 16em;
	height: 8em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}

/* HERO SECTION --------------------------------------------------------------- */


.hero {
  font-size: 1vw;
  justify-content: space-between;
  padding: 25px;
  padding-bottom: 50px;
  background-color: #0a1927;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 1000;
  
  /* Border Effect */
  border-bottom: 5px solid transparent;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  pointer-events: none;
  
  
  transition: all 1s; /* Added transition properties for background-color, margin-top, and border */
}


.hero-wrapper{
  color: #e8bebe;
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sectionTemplate {
  position: relative;
  width: 600px;
  height: 200px;
  margin: 2vh;
  margin-bottom: 150px;
  background-color: #00000000;
  border: none;

  border-radius: 10px;
  padding: 10px;

  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s;

}

.sectionTemplate:hover{
  background-color: rgba(255, 255, 255, 0.024);
  /* border-top: 2px solid #043178; */

}

.sectionTemplate:hover .title span{
  color: #d2dfff;
  font-weight: bolder;
}

.sectionTemplate:hover .image img{
  /* border-bottom: 2px solid #719fea; */
}

.title{
  position: absolute;
  width: 100%;
  height: 20%;
  right: -10px;
  top: 10px;

  display: inline-flex;
}

.description{
  position: absolute;
  width: 100%;
  height: auto;
  right: -10px;
  top: 80px;
  margin-bottom: 20px;

}

.image{
  position: absolute;
  left: 10px;
  top: 20px;
  width: 40%;
  height: 80%;
  border-radius: 30px;
  background-color: aliceblue;
}

.image img {
  height: 100%;
  width: 100%;
  border: none;

  transition: all .3s;

  object-fit: contain;
   /* object-fit: cover; */
   border-radius: 25px;
}

.bubbles {
  width: 100%;
  height: 10px; /* Change height to auto */
  position: absolute;
  right: -10px;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap; /* Allow bubbles to wrap to the next line */
  align-content: flex-start; /* Align to the start of the container */

  margin-top: 10px;
}

.bubble {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  background-color: #043178;
  border-radius: 15px;
  white-space: nowrap; /* Prevent text from wrapping inside the bubble */
}

.bubbles p {
  margin: 0; /* Remove default margin for paragraph inside bubble */
  font-size: 80%;
  color: #cdbbff;
  font-weight: 800;

  transition: all 1s;
  cursor: pointer;
}

.bubbles p:hover {
  color: #ffffff;
  font-weight: 1200;

}

.title span {
  font-size: 1.5em; /* Adjust the font size as needed */
  color: #ffffff; /* Change the color to a professional shade */
  font-weight: bold; /* Use a bold font weight for a more professional look */
  line-height: 1.2; /* Adjust the line height for better readability */

  transition: all 1s;
}

.description p {
  font-size: 12px;
  color: hsl(218, 100%, 87%);
}

.hidden{
  display: none;
}

.bodyGallery{
  /* display: grid; */
}

.title img{
  width: 20px;
  position: absolute;
  right: 10px;

  /* Glow hover */
  -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
  filter: drop-shadow(0px 0px 10px #ffffff);
  
  transition: all 1s;
}

.title img:hover {
-webkit-filter: drop-shadow(0px 0px 100px #DDFF06);
filter: drop-shadow(0px 0px 100px #DDFF06);

transform: translateY(-3px);
transform: scale(1.05);
}

.rightBox{
  height: 200px;
  width: 300px;
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px
}

/* TOGGLE ESSENTIAL STYLES ----------------------------------- */
.hero {
  overflow-y: scroll;
  opacity: 0;
  display: block;
  pointer-events: none;

  transition: opacity 1s ease, display 1s 2s ease;
}

.hero-switch {
  opacity: 0.8;
  pointer-events: all;

  transition: opacity 1s ease, display 1s 2s ease;
}

.spotlight-switch{
  display:none;
}

@media only screen and (max-width: 600px) {
  .sectionTemplate {
    position: relative;
    width: 60vw;
    height: 150px;
    margin: 1vh;
    background-color: #00000000;
    border: none;
  
    border-radius: 5px;
    padding: 10px;
  
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
  }

  .title span{
    font-size: 20px;
  }
  
}