@import url('@pmndrs/branding/styles.css');

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  box-sizing: border-box;
}


html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: Arial, sans-serif;
}

body {
  font-family: 'Inter var', sans-serif;
  color: white;
  background: #101010;
  user-select: none;
}


/* // START of HTML STYLES -----------------------------------------------------------*/

#lightbox{
  display: none;
  z-index: 2000;
  position: fixed;

  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 30px;


  border-radius: 50px;
  box-shadow: 0px 0px 20px #4c12d3;
  
  z-index: 100000000;
}


#noteButton {
  display: inline-block;
  background-color: var(--color-background);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 50px;
  padding: 0px 30px;
  padding-left: 60px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.invisible{
  display: none;
  opacity: 0;

  transition: opacity 2s;
}

.header {
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;

  /* Border Effect */
  border-bottom: 5px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;


  transition: all 1s; /* Added transition properties for background-color, margin-top, and border */
}

.header:hover {
  /* background-color: rgba(19, 13, 139, 0.354);  */
  /* White opaque background with 20% opacity */
  border-color: rgba(34, 28, 203, 0.8);
}

.logo img {
  width: 200px;
  height: auto;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: #4734db;
}

.link{
  background-color: transparent;
  border: 2px solid transparent; /* Set a transparent border */
  border-radius: 10%;
  padding: 10px;

  transition: all 1s;
}

.link:hover{
  border-color: #ffffff;
  /* background-color: #d7d7d767; */
}

/* // END of HTML STYLES -----------------------------------------------------------*/

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.bg {
  background: #101010;
}

.fullscreen.notready {
  color: #606060;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #808080;
  padding: 40px;
  pointer-events: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 10px;
  line-height: 1.5em;
}

.menu.left {
  justify-content: flex-start;
}

.menu.right {
  justify-content: flex-end;
}

.menu > div {
  word-wrap: none;
  word-break: none;
  white-space: pre;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.menu > div b {
  font-weight: 600;
  color: #b0b0b0;
}

.fullscreen.ready > div {
  cursor: pointer;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

.menu a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
  color: inherit;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 2s ease 0.5s forwards;

  /* Make canvas take full screen, mobile */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.htmlScreen iframe
{
    width: 100px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: #000000;
}

.footerLogo{
  width: 120px;
  height: auto;
  padding-bottom: 10px;
  opacity: 0.4;

}

.socialLogo{
  height: 30px;
  width: auto;
  opacity: 1;
  padding-right: 20px;
  padding-bottom: -10px;

  /* Glow hover */
  -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
  filter: drop-shadow(0px 0px 10px #ffffff);

  transition: all 1s;
}

.socialLogo:hover {
-webkit-filter: drop-shadow(0px 0px 100px #DDFF06);
filter: drop-shadow(0px 0px 100px #DDFF06);

transform: translateY(-3px);
transform: scale(1.05);
}

.planeText{
position: relative;
}

.head{
position: relative;
top: -200px;
}

.body{
position: relative;
top: -140px;


}

.tail{

}


.label-text{
  color: #000000;
  position: relative;
  top: -40px;
  left: 100px;
}

.badgeLogo{
  padding-left: 20px;
  width: auto;
  height: 40px;
}

.projectLogo{
  width: 1000px;
  height: 250px;
}

.projectButton{

}

.body-section{
  display: inline-block;
}

.body-text1{
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  padding: 30px;
  width: 425px;
  height: 300px;
  position: absolute;
  left: 50px;
  bottom: -370px;
  background-color: #161902;
  font-size: 20px;
  line-height: 30px;

  transition: all 0.75s ease-in-out;
}

.body-text2{
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  padding: 30px;
  width: 425px;
  height: 300px;
  position: absolute;
  left: 650px;
  bottom: -370px;
  background-color: #161902;
  font-size: 20px;
  line-height: 30px;

  transition: all 0.75s ease-in-out;
}

.body-text2:hover, .body-text1:hover{
  border-radius: 10px;
  box-shadow: 0px 0px 30px #ffffff;

  transform: translateY(-3px);
  transform: scale(1.05);
}

.github-section{
  position: absolute;
  display: flex;
  bottom: -250px;
  left: 530px;
}

.githubText{
  position: absolute;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px;
  left: -20px;
  top: 90px;

}

.githubLogo{
}

.projectGithubLogo{
  height: 80px;
}







/* Mobile Responsiveness     --------------------------------------------*/

/* Horizontal Mobile */
@media (max-width: 1000px){

  /* Display lightbox on mobile */
  #lightbox{
    display: block;
    height: 250px;
    width: 300px;
    margin-left: 30%;
    margin-top: 10%;
    background-color: #160551cf;

  }

  .header{
    font-size: 12px;
    height: 60px;
    padding-top: 30px;

  }

  .link{
    padding: 5px;
  }
  
}

/* Vertical Mobile */
@media (max-width: 767px) {

  #lightbox{
    height: 250px;
    width: 300px;
    margin-left: 10%;
    margin-top: 40%;
    background-color: #5030c629;

  }


  .pmndrs-menu {
    /* Styles for mobile devices here */
    /* position: fixed;
    bottom: 0;
    margin-top: 200px;
    display: block; */
  }

  .pmndrs-menu {
    display: block;
    /* position: absolute; */
    top: 600px;
    flex-wrap: wrap;
    margin: 0px;
  }

  .pmndrs-menu > div {
    /* This will make two columns on each row */
    width: 50%; 
    margin: 0px;
  }


  .header {
    display: block;
    justify-content: space-between;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    width: 100%;
    height: 75px;  

    margin-left: 50px;
  
  }
  
  .logo img {
    width: 100px;
    height: auto;
    margin-left: 80px;
    padding-bottom: 5px;
  }

  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin: 0 0px;
  }
}



